<div class="footer"
     id="footer">
    <p>
        Copyright © 2020 <a class="flink"
           href="<%= config.url %>"><%= config.title %></a>
        <br>
        Theme by <a class="flink"
           href="https://github.com/sanjinhub/hexo-theme-geek">Geek</a>.
        <label class="el-switch el-switch-green el-switch-sm"
               style="vertical-align: sub;">
            <input type="checkbox"
                   name="switch"
                   id="update_style">
            <span class="el-switch-style"></span>
        </label>
    </p>
</div>

<a href="javascript:void(0);" class="back-to-top" target="_self"></a>

<input type="hidden"
       id="web_style"
       value="<%= theme.style %>">
<input type="hidden"
       id="valine_appid"
       value="<%= theme.valine.appId %>">
<input type="hidden"
       id="valine_appKey"
       value="<%= theme.valine.appKey %>">
<script src="https://cdn.jsdelivr.net/npm/valine@1.4.14/dist/Valine.min.js"></script>
<% if (theme.cdn.enabled && env.cmd === "generate") { %>
    <script src="<%= theme.cdn.url %>/libs/jquery.min.js"></script>
    <script src="<%= theme.cdn.url %>/libs/highlight/highlight.pack.js"></script>
    <script src="<%= theme.cdn.url %>/js/js.js"></script>
<% } else { %>
  <%- js('libs/jquery.min.js') %>
  <%- js('libs/highlight/highlight.pack.js') %>
  <%- js('js/js.js') %>
<% } %>
<style type="text/css">
    .v .vlist .vcard .vhead .vsys {
        color: #3a3e4a;
    }

    .v .vlist .vcard .vh .vmeta .vat {
        color: #638fd5;
    }

    .v .vlist .vcard .vhead .vnick {
        color: #6ba1ff;
    }

    .v a {
        color: #8696b1;
    }

    .v .vlist .vcard .vhead .vnick:hover {
        color: #669bfc;
    }

    .v .vcards .vcard .vhead .vnick {
        padding-left: 1px;
    }

    .v .vcontent .vemoji {
        max-width: 30px;
    }

    .v[data-class=v] p {
        color: inherit;
    }

</style>

<!-- Load TweenLite -->
<script src="https://cdn.jsdelivr.net/npm/greensock@1.20.2/dist/TweenLite.js"></script>

<% if(config.live2d.enable){ %>
<!-- Copyrighted cubism SDK -->
<script src="https://cubism.live2d.com/sdk-web/cubismcore/live2dcubismcore.min.js"></script>
<!-- Load Pixi (dependency for cubism 2/4 integrated loader) -->
<script src="https://cdn.jsdelivr.net/npm/pixi.js@5.3.6/dist/pixi.min.js"></script>
<!-- Load cubism 4 integrated loader -->
<script src="https://cdn.jsdelivr.net/npm/pixi-live2d-display@0.3.1/dist/cubism4.min.js"></script>

<!-- Load pio and alternative loader -->
<link href="https://cdn.jsdelivr.net/gh/journey-ad/blog-img@76ba2b3/live2d/lib/pio.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.jsdelivr.net/gh/journey-ad/blog-img@76ba2b3/live2d/lib/pio.js"></script>
<script src="https://cdn.jsdelivr.net/gh/journey-ad/blog-img@76ba2b3/live2d/lib/pio_sdk4.js"></script>
<script src="https://cdn.jsdelivr.net/gh/journey-ad/blog-img@76ba2b3/live2d/lib/load.js"></script>
<% } %>

<% if(theme.analytics.enabled){ %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= theme.analytics.googleId %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= theme.analytics.googleId %>');
</script>
<% } %>
